
@{
    ViewData["Title"] = "HoatDongTheoLoai";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<DanhMucHoatDong>

@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialHoatDong", item)
}
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("HoatDongTheoLoai", new {maloaiHD = ViewBag.maloaiHD, page = page}))
</div>